<h1><%= title %></h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate veniam possimus molestiae sed id ipsam nemo, nisi incidunt aut in consectetur tempore? Molestiae dolorem minima adipisci nulla? Autem, dolores quidem.</p>